[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "components/influxdb"]
	path = components/influxdb
	url = https://github.com/tobiasschuerg/InfluxDB-Client-for-Arduino.git
